      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */

      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      table, th, td {
        border: 0.1px solid #bdbdbdd7;
      }

      th, td {
        padding: 0.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
      }

      th {
        background-color: #f0f0f0;
      }

      .tableContainer {
        overflow-x: auto;
        margin: 1rem;
      }

      .nation {
        display: inline-block;
        margin-right: 1rem;
        width: 25%
      }

      .nation100 {
        width: 100%
      }

      .address {
        display: inline-block;
        width: 72%;
        margin-right: 1rem;
      }

      .address100 {
        width: 100%;
      }

      .addressSearchContainer{
        /* padding-left: 1rem; */
        padding-top: 1rem;
        /* padding-right: 1rem; */
      }