<div class="row">
    <div *ngIf="noSensor" class="col-12">
        <h4 style="padding-top: 2rem; padding-left: 2rem; padding-right: 2rem">There is no sensor</h4>
    </div>

    <div [ngClass]="{'col-lg-12': true, 'col-xl-4': isClicked, 'col-xl-12': !isClicked }">
        <div *ngIf="!noSensor" 
        [ngClass]="{'addressSearchContainer_beforeLoggedIn': !isLoggedIn, 'addressSearchContainer_afterLoggedIn': isLoggedIn}">
            <mat-form-field *ngIf="isLoggedIn" class="nation" [ngClass]="{'nation100':isClicked}">
                <mat-select placeholder="Nation" [(ngModel)]="enteredNationCode"
                    (ngModelChange)="nationChanged($event)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let nation of nations0" [value]="nations1[nation][0]">{{nation}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="isLoggedIn" class="address" [ngClass]="{'address100': isClicked}">
                <input matInput id="autocomplete" placeholder="Address" [(ngModel)]="enteredAddress">
            </mat-form-field>
        </div>

        <div #gmap style="width:100%;height:750px"></div>

    </div>

    <div *ngIf="isClicked" class="col-lg-12 col-xl-8">
        <div class="row">
            <div *ngIf="isLoggedIn" class="col-lg-4" style="margin-top: 1rem; margin-bottom: 1rem">
                <h4 class="font-md2"><strong>MAC address</strong>&nbsp;&nbsp;{{dataService.rspToMacAddress(clickedMarker)}}</h4>
            </div>
            <div [ngClass]="{'col-lg-8': isLoggedIn, 'col-lg-12': !isLoggedIn}"
                style="margin-top: 1rem; margin-bottom: 1rem">
                <h4 class="font-md2"><strong>{{clickedLocation}}</strong></h4>
            </div>
            <div class="col-lg-12 font-md" style="margin-bottom: 1rem">
                <h4>
                    <div class="tableContainer">
                        <table>
                            <tr>
                                <th>CO</th>
                                <td>{{clickedData.AQI_CO}}</td>

                                <th>O<sub>3</sub></th>
                                <td>{{clickedData.AQI_O3}}</td>

                                <th>NO<sub>2</sub></th>
                                <td>{{clickedData.AQI_NO2}}</td>

                                <th>SO<sub>2</sub></th>
                                <td>{{clickedData.AQI_SO2}}</td>

                                <th>PM2.5</th>
                                <td>{{clickedData.AQI_PM25}}</td>

                                <th>PM10</th>
                                <td>{{clickedData.AQI_PM10}}</td>

                                <th>Temp</th>
                                <td>{{clickedData.temperature}}</td>
                            </tr>
                        </table>
                    </div>
                </h4>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col">
                <app-air-data [data]=""></app-air-data>
            </div>
        </div>
        -->
        <div class="row">
            <div class="col">
                <div id="chartdiv2_1"></div>
                <!--Temp-->
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="chartdiv2_2"></div>
                <!--CO-->
            </div>
            <div class="col">
                <div id="chartdiv2_3"></div>
                <!--O3-->
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="chartdiv2_4"></div>
                <!--NO2-->
            </div>
            <div class="col">
                <div id="chartdiv2_5"></div>
                <!--SO2-->
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="chartdiv2_6"></div>
                <!--PM2.5-->
            </div>
            <div class="col">
                <div id="chartdiv2_7"></div>
                <!--PM10-->
            </div>
        </div>
    </div>
</div>