<mdb-navbar SideClass="navbar fixed-ontop navbar-expand-lg navbar-dark secondary-variant nav-color scrolling-navbar ie-nav"
  [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand font180 margin" (click)="clickMenu(0)" routerLinkActive="router-link-active">
      <strong>AiR</strong>ound&nbsp;U
    </a>
  </mdb-navbar-brand>
  <links>

    <ul class="navbar-nav mr-auto" style="margin-left: 2rem">
      <li class="nav-item dropdown space10" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light font135 margin"
          mdbWavesEffect>
          Sensor
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu" role="menu">
          <a class="dropdown-item waves-light font120" [ngClass]="{'active': currentMenu.sensormg}" (click)="clickMenu(1)"
            mdbWavesEffect>
            User Sensor Management
          </a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light font120" [ngClass]="{'active': currentMenu.personalsensor}" (click)="clickMenu(2)"
            mdbWavesEffect>
            My personal sensors
          </a>
        </div>
      </li>

      <li class="nav-item dropdown space10" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light font135 margin"
          mdbWavesEffect>
          History
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu" role="menu">
          <a class="dropdown-item waves-light font120" [ngClass]="{'active': currentMenu.airSensorHistory}" (click)="clickMenu(10)"
            mdbWavesEffect>
            Air sensors
          </a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light font120" [ngClass]="{'active': currentMenu.airDataHistory}" (click)="clickMenu(3)"
            mdbWavesEffect>
            Air data
          </a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light font120" [ngClass]="{'active': currentMenu.HeartHistory}" (click)="clickMenu(4)"
            mdbWavesEffect>
            Heart data
          </a>
        </div>
      </li>

      <li class="nav-item dropdown space10" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light font135 margin"
          mdbWavesEffect>
          Administrator
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu" role="menu">
          <a class="dropdown-item waves-light font120" [ngClass]="{'active': currentMenu.adminUsermg}" (click)="clickMenu(5)"
            mdbWavesEffect>
            Admin User management
          </a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light font120" [ngClass]="{'active': currentMenu.adminSensormg}" (click)="clickMenu(6)"
            mdbWavesEffect>
            Admin Sensor management
          </a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav nav-flex-icons">
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light font135 margin" mdbWavesEffect>
          <i class="fa fa-user-circle-o font230 space5" aria-hidden="true"></i>
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <p class="font120 userInfo">
            {{userInfo.email}}
          </p>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light font120" [ngClass]="{'active': currentMenu.changepw}" (click)="clickMenu(8)"
            mdbWavesEffect>
            <i class="fa fa-refresh space10" aria-hidden="true"></i>Change password
          </a>
          <a class="dropdown-item waves-light font120" (click)="clickMenu(9)" mdbWavesEffect>
            <i class="fa fa-sign-out space10" aria-hidden="true"></i>Sign out
          </a>
        </div>
      </li>
    </ul>
  </links>
</mdb-navbar>