.card{
    width: 600px;
    text-align: center;
}
.form{
    font-size: 1.3rem;
}
.buttonStyle {
    margin-top: 30px;
    font-size: 15px;
    width: auto;
    border-radius: 100px;
}

/**---------*/
.block{
    display: block;
}

/** msgs */
.container{
    width: 600px;
    text-align: center;
    margin-top: 30px;
    line-height: 2.0;
    font-size: 18px;
    display: inline-block;
}