<div class="wrapper" style="margin-bottom: 500px">
  <h1 class="title font-lg4">Change password</h1>
  <mat-card class="card">
    <form class="example-form form" (ngSubmit)="fnOnSubmitUpcForm()">
      <mat-form-field class="example-full-width block">
        <input type="password" matInput placeholder="Current password" [formControl]="currentPassword">
        <mat-error *ngIf="currentPassword.invalid && !errorhide">{{getCurrentPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width block">
        <input matInput placeholder="New password" [formControl]="newPassword" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="newPassword.invalid && !errorhide">{{getNewPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <button type="submit" class="btn waves-light primary-variant buttonStyle" mdbWavesEffect>Reset</button>
    </form>
  </mat-card>
  <div class="container">
    Do you want to deregister your account? <strong><a class="on-primary" [routerLink]="['/dashboard/deregister-account']"
        routerLinkActive="router-link-active" routerLinkActive="router-link-active" (click)="clickDeregister()"><u>
          deregister
        </u></a></strong>
  </div>
</div>