<div class="wrapper" style="margin-bottom: 500px">
  <h1 class="title font-lg4">Change password</h1>
  <mat-card class="card">
    <form class="example-form form" [formGroup]="pwchangeForm" (ngSubmit)="fnOnSubmitUpcForm()">
      <mat-form-field class="example-full-width block">
        <input type="password" matInput placeholder="Current password" formControlName="currentPassword" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="pwchangeForm.get('currentPassword').invalid && !errorhide">{{getCurrentPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width block">
        <input matInput placeholder="New password" name="newPassword" [(ngModel)]="newPasswordInfo.pw"
          formControlName="newPassword" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="pwchangeForm.get('newPassword').invalid && !errorhide">{{getNewPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width block">
        <input matInput placeholder="Confirm new password" name="confirmNewPassword" [(ngModel)]="newPasswordInfo.confirmpw"
          formControlName="confirmNewPassword" validateEqual="newPassword" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="pwchangeForm.get('confirmNewPassword').invalid && !errorhide">{{getConfirmPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <button type="submit" class="btn waves-light primary-variant buttonStyle" mdbWavesEffect>Reset</button>
    </form>
  </mat-card>
  <div class="container">
    Do you want to deregister your account? <strong><a class="on-primary"
        [routerLink]="['/dashboard/deregister-account']" routerLinkActive="router-link-active"
        routerLinkActive="router-link-active" (click)="clickDeregister()"><u>
          deregister
        </u></a></strong>
  </div>
</div>