<div class="frame">
  <div class="contents">
    <h1>Enter the sended code to</h1>
    <h3>{{email}}</h3>
    <div class="vfcContainer">
      <span class="vfcBox" *ngFor="let v of vfc">{{v}}</span>
    </div>
    <div class="timerContainer">
      <app-timer [style]="timerStyle" [visible]="true" [seconds]="settedTime" (timeout)="isTimeout($event)"></app-timer>
    </div>
    <form fxLayout="column" class="example-container" (ngSubmit)="onSubmit()">
      <div class="input-row">
        <mat-form-field class="formStyle">
          <input matInput placeholder="Authentication code" [formControl]="vfcFormControl">
          <mat-error *ngIf="vfcFormControl.invalid">{{getCodeErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <button type="submit" class="btn waves-light secondary-variant on-primary buttonStyle" [disabled]="vfcFormControl.invalid"
        mdbWavesEffect>
        Verify</button>
    </form>
  </div>
</div>