<div class="wrapper">
  <h1 class="title">Air History</h1>
  <!-- Date picker -->
  <form (ngSubmit)="clickSearch()">
    <mat-form-field class="dateSelect">
      <input matInput [matDatepicker]="start" placeholder="Start date" [formControl]="startDate">
      <mat-datepicker-toggle matSuffix [for]="start">
        <mat-icon style="font-size: 1.5rem;" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="timeSelect">
      <mat-select [(ngModel)]="enteredStartHour" placeholder="HH" (ngModelChange)="timeSelectChanged()" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let hour of timeSet.hour" [value]="hour">{{ dataService.numberFormattingUnits2(hour) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    :
    <mat-form-field class="timeSelect">
      <mat-select [(ngModel)]="enteredStartMin" placeholder="MM" (ngModelChange)="timeSelectChanged()" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let min of timeSet.min" [value]="min">{{ dataService.numberFormattingUnits2(min) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="timeSelect" style="margin-right:1.5rem">
      <mat-select [(ngModel)]="enteredStartMode" (ngModelChange)="timeSelectChanged()" [ngModelOptions]="{standalone: true}">
        <mat-option [value]="0">AM</mat-option>
        <mat-option [value]="12">PM</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="dateSelect">
      <input matInput [matDatepicker]="end" placeholder="End date" [formControl]="endDate">
      <mat-datepicker-toggle matSuffix [for]="end">
        <mat-icon style="font-size: 1.5rem;" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="timeSelect">
      <mat-select [(ngModel)]="enteredEndHour" placeholder="HH" (ngModelChange)="timeSelectChanged()" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let hour of timeSet.hour" [value]="hour">{{ dataService.numberFormattingUnits2(hour) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    :
    <mat-form-field class="timeSelect">
      <mat-select [(ngModel)]="enteredEndMin" placeholder="MM" (ngModelChange)="timeSelectChanged()" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let min of timeSet.min" [value]="min">{{ dataService.numberFormattingUnits2(min) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="timeSelect">
      <mat-select [(ngModel)]="enteredEndMode" (ngModelChange)="timeSelectChanged()" [ngModelOptions]="{standalone: true}">
        <mat-option [value]="0">AM</mat-option>
        <mat-option [value]="12">PM</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <button type="submit" class="btn waves-light primary-variant on-primary buttonStyle"
      [disabled]="endDate.invalid || startDate.invalid || startDate.value > endDate.value || isIncorrectTimeSelection" mdbWavesEffect>
      Search</button>
  </form>

  <!-- Map & Chart-->
  <div class="row">
    <div class="col-12" *ngIf="isSearched && dataStatus == 0">
      No data
    </div>
    <div class="col-12" *ngIf="isSearched && dataStatus == 1">
      Loading ...
    </div>
    <div class="col-lg-12"
      [ngClass]="{'invisible':!isSearched || dataStatus != 2, 'col-xl-5': isMarkerClicked, 'col-xl-12': !isMarkerClicked}">
      <mat-card class="card">
        <div class="row">
          <div class="col-12">
            <mat-form-field class="nation">
              <mat-select placeholder="Nation" [(ngModel)]="enteredNationCode" (ngModelChange)="nationChanged($event)">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let nation of nations0" [value]="nations1[nation][0]">{{nation}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="address">
              <input matInput id="autocomplete" placeholder="Address" [(ngModel)]="enteredAddress">
            </mat-form-field>
          </div>
          <div class="col" style="text-align: left">
            <span style="font-size: 1.3rem;margin-right:auto">{{ selectedTime }}</span>
          </div>
          <div class="col" style="text-align: right">
            <mat-slider *ngIf="isMarkerClicked" style="margin-left: auto" class="slider" [max]="timeSliderMax" [min]="timeSliderMin"
              [(ngModel)]="timeSliderValue" (ngModelChange)="timeSliderChanged()"></mat-slider>
          </div>
        </div>
        <div class="row">
          <div #gmap style="width:100%;height:600px"></div>
        </div>
      </mat-card>
    </div>
    <!----------------------------------------->
    <div *ngIf="isMarkerClicked" class="col-lg-12 col-xl-7" [ngClass]="{'hidden':!isSearched}">
      <div class="row">
        <mat-card class="card">
          <mat-card-title>
            {{ dataService.rspToMacAddress(clickedMarkerMacAddress)}}
          </mat-card-title>
          <mat-card-content>
            <div class="row" style="margin-top:1.2rem; margin-bottom: 1.3rem">
              <!-- airData Circles -->
              <app-air-data *ngIf="isSearched" [radius]="150" [sub_radius]="80" main_color='#FFFFFF' main_font_color='#000'
                hovered_color='var(--grey)' hovered_font_color='#fff' dominent_color='' [data]='selectedAirdata'>
              </app-air-data>
            </div>
            <div class="row">
              <app-historical-air-chart *ngIf="isMarkerClicked" [data]="amChartData" [centerIndex]="timeSliderValue"
                (chartClick)="chartClicked($event)" [macAddress]="clickedMarkerMacAddress"></app-historical-air-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>