.card{
    margin: auto auto;
    width: 100%;
}

/** Slider */
.slider{
    width: 100%;
}

/** Button */
.buttonStyle {
    margin-left: 1rem;
    font-size: 15px;
    width: auto;
    border-radius: 100px;
}

/********/
.nation {
    display: inline-block;
    margin-right: 1rem;
    width: 70%
}

.address {
    display: inline-block;
    width: 70%;
    margin-right: 1rem;
}

/*******/
.timeSelect {
    display: inline-block;
    width: 3rem;
}

.dateSelect {
    display: inline-block;
    width: 8rem;
}