.title {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.3;
    font-size: 30px;
}
.secondTitle{
    margin-top: 10px;
}

.block {
    display: block;
}

.card {
    padding: 0;
    margin-bottom: 80px;
}
