<app-navbar></app-navbar>

<div class="row title">
  <div class="col">
    Air Quality Map<br>
    <strong>Show pollution in Real-time</strong>
  </div>
</div>
<div class="row">
  <div class="col cardWrapper">
    <mat-card class="card">
      <app-air-maps></app-air-maps>
    </mat-card>
    <hr>
  </div>
</div>
<div class="row title secondTitle">
  <div class="col-12">
    Air Sensors Map<br>
    <strong>Show our sensors</strong>
  </div>
</div>
<div class="row">
  <div class="col cardWrapper">
    <mat-card class="card">
      <app-sensor-maps></app-sensor-maps>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>