<app-navbar></app-navbar>

<div class="row title on-primary">
  <div class="col" style="text-align: center">
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-card class="card">
      <app-air-maps *ngIf="airmapDisplay"></app-air-maps>
    </mat-card>
  </div>
</div>
<!-- <div class="row title secondTitle">
  <div class="col-12">
    Air Sensors Map<br>
    <strong>Show our sensors</strong>
  </div>
</div>
<div class="row">
  <div class="col cardWrapper">
    <mat-card class="card">
      <app-sensor-maps></app-sensor-maps>
    </mat-card>
  </div>
</div> -->

<app-footer></app-footer>