<div class="row">
  <div class="col-3">
    <span [ngStyle]="aqi_style">{{shown_aqi.value}}<br><span style="font-size: 23px">{{current_description[0]}}</span></span>
  </div>
  <div class="col-9">
    <div class="row">
      <span [ngStyle]="each_air_data_style.CO" (mouseover)="hover('CO')">CO</span>
      <span [ngStyle]="each_air_data_style.O3" (mouseover)="hover('O3')">O<sub>3</sub></span>
      <span [ngStyle]="each_air_data_style.NO2" (mouseover)="hover('NO2')">NO<sub>2</sub></span>
      <span [ngStyle]="each_air_data_style.SO2" (mouseover)="hover('SO2')">SO<sub>2</sub></span>
      <span [ngStyle]="each_air_data_style.PM25" (mouseover)="hover('PM25')">PM2.5</span>
      <span [ngStyle]="each_air_data_style.PM10" (mouseover)="hover('PM10')">PM10</span>
    </div>
    <div class="row" style="padding-top:20px">
      <!-------->
      <span *ngIf="shown_aqi.key == 'CO'" style="margin-left: 2rem" [ngStyle]="details_style">C0</span>
      <span *ngIf="shown_aqi.key == 'O3'" style="margin-left: 2rem" [ngStyle]="details_style">O<sub>3</sub></span>
      <span *ngIf="shown_aqi.key == 'NO2'" style="margin-left: 2rem" [ngStyle]="details_style">NO<sub>2</sub></span>
      <span *ngIf="shown_aqi.key == 'SO2'" style="margin-left: 2rem" [ngStyle]="details_style">SO<sub>2</sub></span>
      <span *ngIf="shown_aqi.key == 'PM25'" style="margin-left: 2rem" [ngStyle]="details_style">PM2.5</span>
      <span *ngIf="shown_aqi.key == 'PM10'" style="margin-left: 2rem" [ngStyle]="details_style">PM10</span>
      <!-------->
      <span [ngStyle]="details_style">{{air_data[shown_aqi.key]}}</span>
      <!-------->
      <span *ngIf="shown_aqi.key == 'CO'" [ngStyle]="details_style">ppm</span>
      <span *ngIf="shown_aqi.key == 'O3'||shown_aqi.key == 'PM25'||shown_aqi.key == 'PM10'" [ngStyle]="details_style">µg/m<sup>3</sup></span>
      <span *ngIf="shown_aqi.key == 'NO2'||shown_aqi.key == 'SO2'" [ngStyle]="details_style">ppb</span>
      <!-------->
      <span *ngIf="shown_aqi.key == dominent" [ngStyle]="dominent_style">Dominant</span>
    </div>
  </div>
</div>