#chartdiv3 {
    width: 100%;
    height: 500px;
}

.checkbox {
  margin-right: 1rem;
}

.temp {
  font-size: 1.6rem;
  color: rgba(255, 230, 136, 1);
}
.co{
  font-size: 1.6rem;
  color: rgba(233, 146, 146, 1);
}
.o3{
  font-size: 1.6rem;
  color: rgba(224, 146, 233, 1);
}
.no2{
  font-size: 1.6rem;
  color: rgba(224, 146, 233, 1)
}
.so2{
  font-size: 1.6rem;
  color: rgba(144, 203, 217, 1)
}
.pm25{
  font-size: 1.6rem;
  color: rgba( 159, 213, 178, 1)
}
.pm10{
  font-size: 1.6rem;
  color: rgba(231, 188, 166, 1)
}