<mat-form-field class="nation">
    <mat-select placeholder="Nation" [(ngModel)]="enteredNationCode" (ngModelChange)="nationChanged($event)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let nation of nations0" [value]="nations1[nation][0]">{{nation}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="address">
    <input matInput id="autocomplete" placeholder="Address" [(ngModel)]="enteredAddress">
</mat-form-field>

<div #gmap style="width:100%;height:600px"></div>

<hr>
<h4>Do you want to see the historical air data around this area?&nbsp;</h4>
<button type="button" class="btn waves-light primary-variant on-primary buttonStyle"
    mdbWavesEffect>
    </button>