.midRow{
    width: 80%;
    margin: auto auto;
}
.lastRow{
    width: 80%;
    margin: auto auto;
    margin-bottom: 18rem;
}

.card {
    width: 100%;
    margin-bottom: 20px;
}


.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}