.midRow{
    width: 80%;
    margin: auto auto;
}
.lastRow{
    width: 80%;
    margin: auto auto;
    margin-bottom: 10rem;
}

.card {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 23px;
}


.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}