<div class="row wrapper">
    <div class="col-12 col-lg-4">
      <div class="row">
        <mat-card class="card">
          <div class="row">
            <div class="col-6">
              <h2>Your<br>Current<br>Heart rate<br>is</h2>
            </div>
            <div class="col-6">
              <!-- Heart rate -->
              <circle-progress [percent]="currentHeartdata.heartrate/2" [radius]="60" [outerStrokeWidth]="16"
                [innerStrokeWidth]="8" outerStrokeColor='var(--heartRate)' innerStrokeColor='var(--heartRate-light)'
                [animation]="true" [animationDuration]="300" [titleFontSize]="30" [showUnits]="false" subtitle='bpm'
                [subtitleFontSize]="20"></circle-progress>
            </div>
          </div>
          <mat-card-actions style="text-align: right">
            <a [routerLink]="['/dashboard/heart-history']" mat-button>More details..</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="row">
        <mat-card class="card">
          <mat-card-header>
            <h2>Temperature</h2>
          </mat-card-header>
          <mat-card-content>
            <!-- Temperature -->
            <app-temperature [temperature]="currentCelsius" primary_color="#000000" secondary_color="#929292be"
              [temperature_style]="{'font-size':'4rem'}" [unit_style]="{'font-size':'2rem', 'padding':'4.8px'}"
              (unitChange)="unitChange($event)"></app-temperature>
  
            <!-- Temperature Chart: Celsius -->
            <div style="display: block" *ngIf="currentUnit == 'C'">
              <canvas mdbChart [chartType]="chartType" [datasets]="temp_cels" [labels]="chartLabels" [colors]="chartColors"
                [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
              </canvas>
            </div>
            <!-- Temperature Chart: Fahrenheit -->
            <div style="display: block" *ngIf="currentUnit == 'F'">
              <canvas mdbChart [chartType]="chartType" [datasets]="temp_fahr" [labels]="chartLabels" [colors]="chartColors"
                [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
              </canvas>
            </div>
          </mat-card-content>
          <mat-card-actions style="text-align: right">
            <a [routerLink]="['/dashboard/air-sensor-history']" routerLinkActive="router-link-active"  mat-button>More details..</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            <h2>The nearest sensor is</h2>
          </mat-card-title>
          <mat-card-subtitle>
            <h4>At &nbsp;" {{ nearestSensorAddress }} "</h4>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- airData Circles -->
          <app-air-data [radius]="150" [sub_radius]="80" main_color='#FFFFFF' main_font_color='#000' hovered_color='var(--grey)'
            hovered_font_color='#fff' dominent_color='' [data]='currentAirdata'></app-air-data>
  
          <!-- AQI chart -->
          <div style="display: block; margin-top: 30px;">
            <canvas mdbChart [chartType]="chartType" [datasets]="air_data" [labels]="chartLabels" [colors]="airChartColors"
              [options]="chartOptions" [legend]="true">
            </canvas>
          </div>
        </mat-card-content>
        <mat-card-actions style="text-align: right">
          <a [routerLink]="['/dashboard/air-sensor-history']" mat-button>More details..</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row midRow">
    <div class="col">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            <h2>Realtime Air Quality</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-air-maps></app-air-maps>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row lastRow">
    <div class="col">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            <h2>My Sensors</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-sensor-maps [isSignedin]="true"></app-sensor-maps>
        </mat-card-content>
      </mat-card>
    </div>
  </div>