.dialog{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-bottom: 0.5rem;
}
.btnStyle{
    width: 150px;
}

/*******/
.timeSelect {
    display: inline-block;
    width: 3rem;
}

.dateSelect {
    display: inline-block;
    width: 8rem;
}