.dialog{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}
.btnStyle{
    width: 10.1rem;
    font-size: 1rem;
}

/*******/
.timeSelect {
    display: inline-block;
    width: 3rem;
}

.dateSelect {
    display: inline-block;
    width: 8rem;
}