<app-navbar [currentMenu.solutions]="istrue"></app-navbar>
<p>
  solutions works!
</p>
<button mdbBtn class="waves-light btnStyle primary-variant" (click)="btnClick(1)" mdbWavesEffect>Info</button>
<button mdbBtn class="waves-light btnStyle primary-variant" (click)="btnClick(2)" mdbWavesEffect>Succ</button>
<button mdbBtn class="waves-light btnStyle primary-variant" (click)="btnClick(3)" mdbWavesEffect>Err</button>
<button mdbBtn class="waves-light btnStyle primary-variant" (click)="btnClick(4)" mdbWavesEffect>Warn</button>
<button mdbBtn class="waves-light btnStyle primary-variant" (click)="btnClick(5)" mdbWavesEffect>KAS Dialog</button>
<app-footer></app-footer>