<div class="wrapper" style="margin-bottom: 28rem">
  <h1 class="title font-lg4">My personal sensor registration</h1>
  <mat-card class="card">
    <i class="fas fa-question-circle tooltips font-lg"
      mdbTooltip="Enter a properly formatted MAC address like 'a1:b2:c3:d4:e5:f6'" placement="right"></i>
    <form class="example-form form" (ngSubmit)="fnOnSubmitSrgForm()">
      <mat-form-field class="example-full-width block">
        <input matInput placeholder="Wifi MAC Address" [formControl]="wifi_mac">
      </mat-form-field>
      <mat-form-field class="example-full-width block">
        <input matInput placeholder="Cellular MAC Address" [formControl]="cellular_mac">
      </mat-form-field>
      <button type="submit" class="btn waves-light primary-variant buttonStyle"
        [disabled]="wifi_mac.invalid || cellular_mac.invalid" mdbWavesEffect>Register</button>
    </form>
  </mat-card>
</div>