<div class="section group">
  <div class="col span_1_of_2">
    <nav class="navWrapper">
      <a class="logo on-surface" [routerLink]="['/']" routerLinkActive="router-link-active">
        <img class="navImage" src="assets/icon.png"> &nbsp;
        <strong>AiR</strong>ound
      </a>
    </nav>
    <!-- Forgot pw Form -->
    <form fxLayout="column" class="example-container" [formGroup]="forgotpwForm" (ngSubmit)="onSubmit()">
      <h1>Reset your password</h1>
      <p>Enter your personal information</p>

      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field class="width48 margin-right2" fxFlex>
          <input matInput placeholder="Firstname" formControlName="firstname">
          <mat-error *ngIf="forgotpwForm.get('firstname').invalid">{{getRequiredErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="width48" fxFlex>
          <input matInput placeholder="Lastname" formControlName="lastname">
          <mat-error *ngIf="forgotpwForm.get('lastname').invalid">{{getRequiredErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="input-row">
        <mat-form-field class="width100">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="forgotpwForm.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field class="width100" fxFlex>
          <input matInput [matDatepicker]="dp3" placeholder="Birth date" formControlName="birthdate">
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          <mat-error *ngIf="forgotpwForm.get('birthdate').invalid">{{getBirthdateErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <button type="submit" class="btn waves-light primary-variant on-primary buttonStyle" [disabled]="forgotpwForm.invalid" mdbWavesEffect>
        Reset</button>
    </form>
    <!-- Sign up Form -->
    <div class="container">
      Do you already know your password? <strong><a class="link-primary" [routerLink]="['/signin']" routerLinkActive="router-link-active"><u>
            Sign in
          </u></a></strong>
    </div>

  </div>
  <div class="col span_1_of_2 rightSide primary-variant">
    <img class="rightSide-img" src="assets/forgotpw.png">
  </div>
</div>