.card{
    margin: auto auto;
    width: 100%;
}
.hidden{
    visibility: hidden;
}

/** Button */
.buttonStyle {
    margin-left: 1rem;
    font-size: 15px;
    width: auto;
    border-radius: 100px;
}