.title {
    margin-bottom: 20px;
}

/***********************/

.card {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;
}

.map_card {
    margin-bottom: 10px;
    padding: 15px 15px;
}

.buttonStyle {
    margin-top: 30px;
    width: auto;
    border-radius: 100px;
}

/**---------*/

.inputStyle {
    width: 38%;
    margin-right: 2rem;
    display: inline-block;
}

/***********************/

.rowStyle {
    padding-bottom: 10px;
}

.buttonsGroup {
    text-align: right;
}

.roundBtn {
    width: 45px;
    border-radius: 20px;
    padding: 0 15px;
    margin: 4px;
    margin-top: 30px;
}

.buttonStyle1 {
    margin-right: 20px;
}

.table-wrapper {
    width: 80%;
    margin: auto auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.tableheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    background-color: var(--primary);
    padding-top: 5px;
    padding-bottom: 5px;
}

.checkboxWidth {
    width: 3rem;
}

.column-name {
    font-weight: bold;
}


.contents {
    padding: 0.5rem 0.5rem;
}

p {
    margin: 0.5rem 0.5rem;
    line-height: 1.5rem;
}

.registered {
    color: var(--registered);
}

.associated {
    color: var(--associated);
}

.operating {
    color: var(--operating);
}

.span1 {
    width: 1rem;
    text-align: left;
}

.span2 {
    width: 2rem;
    text-align: left;
}

.span3 {
    width: 3rem;
    text-align: left;
}

.span4 {
    width: 4rem;
    text-align: left;
}

.span5 {
    width: 5rem;
    text-align: left;
}

.contentWrapper {
    padding-left:3rem;
    margin-bottom: 20px;
}
.contentName {
    padding-bottom: 1rem
}

.sensorStatus {
    width: 55px;
    text-align: center;
}


.tableStyle{
    width: 500px;
}
tr, th{
    padding: 5px;
    border: solid 0.5px #cecece;
    text-align: center;
}


/**====================Search======================**/
.searchInput{
    padding-left: 10px; 
    width: 400px;
}
.searchSelect{
    width: 150px;
}
.searchButton{
    margin: 0 0;
    padding: 0 0;
    background-color: #ffffff00;
    box-shadow: none;
    border-style: none;
    outline: none;
}

/***=====chip======***/
.badgeStyle{
    font-weight: normal;
    border-radius: 50px;
    padding-right: 8px;
    padding-left: 10px;
    padding-top: 9px;
    padding-bottom: 8px;
    text-align: center;
    background-color: var(--secondary) !important;
    color: var(--on-secondary) !important;
    margin-right: 10px;
}
.closeButton{
    margin-left: 10px;
    margin-bottom: 1px
}
.chipWrapper{
    text-align: center;
    margin-top: 20px;
}

.tooltips {
    margin-left: 95%;
    color: var(--on-primary);
}

/************ sensor Table ************/
.checkboxWidth{
    width: 50px;
}
.table_no {
    width: 5%;
}
.table_mac_address {
    width: 17%;
}
.table_activation {
    width: 13%;
}
.table_nation {
    width: 10%;
}
.table_state {
    width: 10%;
}
.table_city {
    width: 10%;
}
.table_registration_date {
    width: 20%;
}
.table_userid {
    width: 14%;
}
.table-padding {
    padding-top: 3px;
}


/*  GO FULL WIDTH AT LESS THAN 1640 PIXELS */

@media (max-width: 1640px) {
    .table_no {
        width: 7%;
    }
    .table_mac_address {
        width: 20%
    }
    .table_activation {
        width: 15%
    }
    .table_nation {
        width: 12%
    }
    .table_state {
        width: 12%
    }
    .table_city {
        width: 12%
    }
    .table_registration_date {
        width: 22%;
    }
}

/*  GO FULL WIDTH AT LESS THAN 1450 PIXELS */

@media (max-width: 1450px) {
    .checkboxWidth{
        width: 7%;
    }
    .table_no {
        width: 7%;
    }
    .table_mac_address {
        width: 23%
    }
    .table_activation {
        width: 18%
    }
    .table_nation {
        width: 15%
    }
    .table_state {
        width: 15%
    }
    .table_city {
        width: 15%
    }
}

/*  GO FULL WIDTH AT LESS THAN 1022 PIXELS */
@media only screen and (max-width: 1022px) {
    .checkboxWidth{
        width: 20%;
    }
    .table_no {
        width: 20%;
    }
    .table_mac_address {
        width: 40%
    }
    .table_activation {
        width: 30%
    }
}

/*  GO FULL WIDTH AT LESS THAN 900 PIXELS */
@media only screen and (max-width: 900px) {
    .checkboxWidth{
        width: 20%;
    }
    .table_no {
        width: 20%;
    }
    .table_mac_address {
        width: 60%
    }
}

