.title {
    margin-bottom: 20px;
}

/***********************/

.card {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;
}

.form {
    font-size: 1.1rem;
}

.buttonStyle {
    margin-top: 30px;
    font-size: 15px;
    width: auto;
    border-radius: 100px;
}

/**---------*/

.inputStyle {
    width: 38%;
    margin-right: 2rem;
    display: inline-block;
}

/***********************/

.rowStyle {
    padding-bottom: 10px;
}

.buttonsGroup {
    text-align: right;
}

.roundBtn {
    width: 3.5rem;
    border-radius: 20px;
    font-size: 2rem;
    padding: 0 1.2rem;
}

.buttonStyle1 {
    margin-right: 20px;
}

.table-wrapper {
    width: 80%;
    margin: auto auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.tableheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    background-color: var(--on-surface-light);
    padding-top: 5px;
    padding-bottom: 5px;
}

.checkboxWidth {
    width: 3rem;
}

.eachtitle {
    font-size: 1.1rem;
    margin-right: 3rem;
}
.eachtitle.column-name {
    font-weight: bold;
}

.contents {
    padding: 0.5rem 0.5rem;
}

p {
    margin: 0.5rem 0.5rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

mat-panel-title {
    font-size: 1.17rem;
}

.registered {
    color: var(--registered);
}

.associated {
    color: var(--associated);
}

.operating {
    color: var(--operating);
}

.span1 {
    width: 1rem;
    text-align: left;
}

.span2 {
    width: 2rem;
    text-align: left;
}

.span3 {
    width: 3rem;
    text-align: left;
}

.span4 {
    width: 4rem;
    text-align: left;
}

.span5 {
    width: 5rem;
    text-align: left;
}

.contentWrapper {
    padding-left:3rem;
}
.contentName {
    font-size:1.1rem; 
    padding-bottom:1rem
}
.content{
    font-size:1.3rem
}

.tableStyle{
    width: 500px;
}
tr, th{
    padding: 5px;
    border: solid 0.5px #cecece;
    font-size: 1.1rem;
    text-align: center;
}


/**====================Search======================**/
.searchInput{
    padding-left: 10px; 
    font-size: 1.2em;
    width: 400px;
}
.searchSelect{
    font-size: 1.2rem;
    width: 150px;
}
.searchButton{
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 70%;
    font-size: 1rem;
}

/***=====chip======***/
.badgeStyle{
    font-size: 1rem;
    font-weight: normal;
    border-radius: 50px;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-light) !important;
    color: var(--on-background) !important;
    margin-right: 10px;
}
.closeButton{
    margin-left: 10px;
    font-size: 1rem;
}
