<div class="wrapper" style="margin-bottom: 100px">
  <h1 class="title font-xl" style="text-align: center; margin-bottom: 0">
    <strong style="margin-right: 20px">TOTAL SENSORS</strong>{{SENSOR_LIST.length}}
  </h1>
  <mat-card class="card">
    <i class="fas fa-question-circle tooltips font-lg"
      mdbTooltip="Enter a properly formatted MAC address like 'a1:b2:c3:d4:e5:f6'" placement="right"></i>
    <form class="example-form font-md2" (ngSubmit)="fnOnSubmitAsrForm()">
      <mat-form-field class="example-full-width inputStyle">
        <input matInput placeholder="Wifi MAC Address" [formControl]="wifi_mac">
      </mat-form-field>
      <mat-form-field class="example-full-width inputStyle">
        <input matInput placeholder="Cellular MAC Address" [formControl]="cellular_mac">
      </mat-form-field>
      <button type="submit" class="btn waves-light primary-variant buttonStyle"
        [disabled]="wifi_mac.invalid || cellular_mac.invalid" mdbWavesEffect>Register</button>
    </form>
  </mat-card>
  <div class="row rowStyle">
    <div class="col-lg-12" style="text-align:center">
      <span class="badge badgeStyle font-md" *ngFor="let option of search_options_array let idx=index">
        <strong>{{option.key}}</strong>&nbsp;&nbsp;{{option.value}}
        <i class="close fas fa-times closeButton on-secondary font-md" (click)="fnDeleteSearchOption(option.key)"></i>
      </span>
    </div>
    <div class="col-lg-12 col-xl-9">
      <!-- Search form -->
      <form [formGroup]="searchForm" (ngSubmit)="fnAddSearchOption()">
        <mat-form-field class="searchSelect" [floatLabel]="searchForm.value.floatLabel">
          <mat-select placeholder="Option" formControlName="option">
            <mat-option>--</mat-option>
            <mat-option value="wifi_mac">Wifi MAC</mat-option>
            <mat-option value="activation">Activation</mat-option>
            <mat-option value="mobility">Mobility</mat-option>
            <mat-option value="nation">Nation</mat-option>
            <mat-option value="state">State</mat-option>
            <mat-option value="city">City</mat-option>
            <mat-option value="userID">User ID</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="searchInput" [floatLabel]="searchForm.value.floatLabel">
          <input matInput placeholder="Search" formControlName="input">
        </mat-form-field>
        <button type="submit" class="searchButton">
          <i class="fas fa-search on-primary font-md2"></i>
        </button>
      </form>
    </div>
    <div class="col-lg-12 col-xl-3 buttonsGroup">
      <button mdbBtn type="button" class="waves-light secondary roundBtn font-lg" (click)="fnOpenDialog_SAS_procedure()"
        mdbWavesEffect>+</button>
      <button mdbBtn type="button" class="waves-light secondary roundBtn font-lg" (click)="fnOpenDialog_ASD_procedure()"
        mdbWavesEffect>-</button>
    </div>
  </div>
  <mat-card class="map_card">
    <app-sensor-list-maps *ngIf="SENSOR_LIST.length != 0" [data]="SENSOR_LIST" [focusedIdx]="focusedSensorIdx" (clickMarker)="clickSensorMapMarker($event)"></app-sensor-list-maps>
  </mat-card>
  <div class="mat-elevation-z8">
    <mat-accordion>
      <div class="tableheader">
        <span class="checkboxWidth table-padding">
          <mat-checkbox (change)="$event ? masterToggle() : null; selected()"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </span>
        <span class="column-name font-md on-primary" [ngClass]="columnClasses[0]">
          {{displayedColumns[0]}}
        </span>
        <span class="column-name font-md on-primary" [ngClass]="columnClasses[1]">
          {{displayedColumns[1]}}
        </span>
        <span *ngIf="!isVisibleActivationArc" class="column-name font-md on-primary" [ngClass]="columnClasses[2]">
          {{displayedColumns[2]}}
        </span>
        <span *ngIf="!isVisibleGeoDataArc" class="column-name font-md on-primary" [ngClass]="columnClasses[3]">
          {{displayedColumns[3]}}
        </span>
        <span *ngIf="!isVisibleGeoDataArc" class="column-name font-md on-primary" [ngClass]="columnClasses[4]">
          {{displayedColumns[4]}}
        </span>
        <span *ngIf="!isVisibleGeoDataArc" class="column-name font-md on-primary" [ngClass]="columnClasses[5]">
          {{displayedColumns[5]}}
        </span>
        <span *ngIf="!isVisibleRegDateArc" class="column-name font-md on-primary" [ngClass]="columnClasses[6]">
          {{displayedColumns[6]}}
        </span>
        <span *ngIf="!isVisibleUseridArc" class="column-name font-md on-primary" [ngClass]="columnClasses[7]">
          {{displayedColumns[7]}}
        </span>
      </div>

      <mat-expansion-panel *ngFor="let element of SENSOR_LIST; let idx=index;"
          [expanded]="focusedSensorIdx == idx"
          (closed)="closeSensorArcItem(idx)" (opened)="openSensorArcItem(idx)">
        <mat-expansion-panel-header *ngIf="!existSensor">
          No sensor
        </mat-expansion-panel-header>
        <mat-expansion-panel-header>
          <span class="checkboxWidth table-padding">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(element) : null; selected()"
              [checked]="selection.isSelected(element)">
            </mat-checkbox>
          </span>
          <span class="table-padding" [ngClass]="columnClasses[0]">
            {{idx+1}}
          </span>
          <span class="table-padding" [ngClass]="columnClasses[1]">
            {{element.mac}}
          </span>
          <span class="table-padding" *ngIf="!isVisibleActivationArc" [ngClass]="columnClasses[2]">
            {{getSensorActivation(element.activation)}}
          </span>
          <span class="table-padding" *ngIf="!isVisibleGeoDataArc" [ngClass]="columnClasses[3]">
            {{element.nation}}
          </span>
          <span class="table-padding" *ngIf="!isVisibleGeoDataArc" [ngClass]="columnClasses[4]">
            {{element.state}}
          </span>
          <span class="table-padding" *ngIf="!isVisibleGeoDataArc" [ngClass]="columnClasses[5]">
            {{element.city}}
          </span>
          <span *ngIf="!isVisibleRegDateArc" [ngClass]="columnClasses[6]">
            {{element.regDate | date: 'medium'}}
          </span>
          <span class="table-padding" *ngIf="!isVisibleUseridArc" [ngClass]="columnClasses[7]">
            {{element.userID}}
          </span>
        </mat-expansion-panel-header>

        <div class="row">
          <div *ngIf="isVisibleActivationArc" class="contentWrapper"
            [ngClass]="{'col-3':isVisibleActivationArc}">
            <div class="row contentName">
              <strong>Activation</strong>
            </div>
            <div class="row">
              {{getSensorActivation(element.activation)}}
            </div>
          </div>
          <div *ngIf="isVisibleGeoDataArc" class="contentWrapper"
            [ngClass]="{'col-2':!isVisibleActivationArc, 'col-3':isVisibleActivationArc}">
            <div class="row contentName">
              <strong>Nation</strong>
            </div>
            <div class="row">
              {{element.nation}}
            </div>
          </div>
          <div *ngIf="isVisibleGeoDataArc" class="contentWrapper"
            [ngClass]="{'col-2':!isVisibleActivationArc, 'col-3':isVisibleActivationArc}">
            <div class="row contentName">
              <strong>State</strong>
            </div>
            <div class="row">
              {{element.state}}
            </div>
          </div>
          <div *ngIf="isVisibleGeoDataArc" class="contentWrapper"
            [ngClass]="{'col-2':!isVisibleActivationArc, 'col-3':isVisibleActivationArc}">
            <div class="row contentName">
              <strong>City</strong>
            </div>
            <div class="row">
              {{element.city}}
            </div>
          </div>
          <div *ngIf="isVisibleRegDateArc" class="contentWrapper"
            [ngClass]="{'col-4': !isVisibleGeoDataArc, 'col-6': isVisibleGeoDataArc}">
            <div class="row contentName">
              <strong>Registration date</strong>
            </div>
            <div class="row">
              {{element.regDate | date: 'medium'}}
            </div>
          </div>
          <div *ngIf="isVisibleUseridArc" class="contentWrapper"
            [ngClass]="{'col-4': !isVisibleActivationArc, 'col-6': isVisibleActivationArc}">
            <div class="row contentName">
              <strong>User ID</strong>
            </div>
            <div class="row">
              {{element.userID}}
            </div>
          </div>
          <!---------------->
          <div class="contentWrapper"
            [ngClass]="{'col-3': !isVisibleUseridArc, 'col-4': isVisibleUseridArc, 'col-6': isVisibleGeoDataArc}">
            <div class="row contentName">
              <strong>Cellular MAC address</strong>
            </div>
            <div class="row">
              {{element.cellularMac}}
            </div>
          </div>
          <div class="contentWrapper"
            [ngClass]="{'col-2': !isVisibleUsesridArc, 'col-4': isVisibleUseridArc && !isVisibleRegDateArc, 'col-3': isVisibleRegDateArc, 'col-6': isVisibleActivationArc}">
            <div class="row contentName">
              <strong>Mobility</strong>
            </div>
            <div class="row">
              {{element.mobility == 0 ? 'Stationary' : 'Portable'}}
            </div>
          </div>
          <div class="contentWrapper"
            [ngClass]="{'col-7': !isVisibleUseridArc, 'col-12': isVisibleUseridArc && !isVisibleRegDateArc || isVisibleActivationArc, 'col-9': isVisibleRegDateArc}">
            <div class="row">
              <strong>Sensor status</strong>
            </div>
            <div class="row">
              <span class="sensorStatus">
                <p>Temp</p>
                <i *ngIf="element.status.temp" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.temp" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>CO</p>
                <i *ngIf="element.status.co" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.co" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>O<sub>3</sub></p>
                <i *ngIf="element.status.o3" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.o3" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>NO<sub>2</sub></p>
                <i *ngIf="element.status.no2" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.no2" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>SO<sub>2</sub></p>
                <i *ngIf="element.status.so2" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.so2" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>PM2.5</p>
                <i *ngIf="element.status.pm25" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.pm25" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>PM10</p>
                <i *ngIf="element.status.pm10" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.pm10" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>GPS</p>
                <i *ngIf="element.status.gps" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.gps" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>