<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark primary-variant scrolling-navbar ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand font180 margin" href="/" (click)="clickLogo()" routerLinkActive="router-link-active" >
      <strong>AiR</strong>ound&nbsp;U
    </a>
  </mdb-navbar-brand>
  <links>
    
    <ul class="navbar-nav mr-auto" style="margin-left: 2rem">
      <li class="nav-item waves-light space" [ngClass]="{'active': currentMenu.solutions}" mdbWavesEffect>
        <a class="nav-link font135 margin" (click)="clickMenu(1)">Solutions
        </a>
      </li>
      <li class="nav-item waves-light space" [ngClass]="{'active': currentMenu.technology}" mdbWavesEffect>
        <a class="nav-link font135 margin" (click)="clickMenu(2)">Technology
        </a>
      </li>

       <!-- Dropdown -->
       <li class="nav-item dropdown space" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light font135 margin" mdbWavesEffect>for Users<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light font120" [ngClass]="{'activeDropdown': currentMenu.introduction}" 
              (click)="clickMenu(3)" mdbWavesEffect>
                Introduction
              </a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light font120"
              (click)="clickMenu(4)" mdbWavesEffect>
                Sign in
              </a>
          </div>
      </li>

      <li class="nav-item waves-light space" mdbWavesEffect>
        <a class="nav-link font135 margin" (click)="clickMenu(5)">Administrator
        </a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light">
        <a class="btn waves-light secondary on-secondary buttonStyle" mdbWavesEffect>
          Contact us</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
