.font120{
    font-size: 1.2rem !important;
}
.font135{
    font-size: 1.35rem !important;
}
.font150{
    font-size: 1.5rem !important;
}
.font180{
    font-size: 1.8rem !important;
}
.margin{
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    margin-left: 0.5rem;
}
.space{
    margin-right: 1rem;
}
.divide{
    width: auto;
    font-size: 2.5rem;
    margin-top: auto;
    margin-bottom: auto;
}
.activeDropdown{
    text-decoration: none;
    background-color: var(--primary-light);
}


/** Button */
.buttonStyle {
    margin-left: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    font-size: 1.1rem;
    width: auto;
    border-radius: 100px;
}