.title {
    margin-bottom: 50px;
}
.wrapper{
    width: 70%;
    margin: auto auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.card{
    width: 600px;
    text-align: center;
}
.form{
    font-size: 1.3rem;
}
.buttonStyle {
    margin-top: 30px;
    font-size: 15px;
    width: auto;
    border-radius: 100px;
}

/**---------*/
.block{
    display: block;
}
