/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 0% 0 0% 0%;
    min-height: 100vh;
}

.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}

/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 0% 0 0% 0%;
}

.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}

/*  GRID OF TWO  */

.span_2_of_2 {
    width: 100%;
}

.span_1_of_2 {
    width: 35%;
}

.rightSide {
    width: 65%;
    visibility: visible;
    display: flex;
}

/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media (max-width: 1200px) {
    .col {
        margin: 0% 0 0% 0%;
    }
}

@media (max-width: 1200px) {
    .span_1_of_2,
    .rightSide {
        width: 50%;
    }
}

/*  GO FULL WIDTH AT LESS THAN 580 PIXELS */

@media only screen and (max-width: 800px) {
    .col {
        margin: 0% 0 0% 0%;
    }
}

@media only screen and (max-width: 800px) {
    .span_2_of_2,
    .span_1_of_2 {
        width: 100%;
    }
    .rightSide {
        visibility: hidden;
    }
}

/**-------------------------*/

.rightSide-img {
    width: 300px;
    margin: auto auto;
}

.navWrapper {
    margin-left: 50px;
    margin-top: 30px;
}

.navImage {
    height: 38px;
    width: auto;
    margin-right: 3px;
}

.logo:link,
.logo:visited {
    color: #000000;
}

.logo:hover {
    color: #000000;
}

/** Form */

.example-container {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    margin-top: 6rem;
    width: 68%;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.nameField{
    display: inline-block;
    width: 30%;
}
.margin-right2{
    margin-right: 4%;
}

.width100{
    width: 100%;
}
.width48{
    width: 48%;
}
.width50{
    width: 50%;
}
.width46{
    width: 46%;
}

/** Button */
.buttonStyle {
    margin: auto auto;
    margin-top: 2rem;
    width: auto;
    border-radius: 100px;
}

/** msgs */
.container{
    margin-top: 1rem;
    line-height: 2.0;
    text-align: center;
}