.title {
    margin-bottom: 50px;
}
.wrapper{
    width: 80%;
    margin: auto auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.card{
    margin: auto auto;
    width: 100%;
}
.hidden{
    visibility: hidden;
}

/** Slider */
.slider{
    width: 100%;
}

/** Button */
.buttonStyle {
    margin-left: 1rem;
    font-size: 15px;
    width: auto;
    border-radius: 100px;
}
