<app-dashboard-navbar></app-dashboard-navbar>
<div class="wrapper">
  <h1 class="title">Air History</h1>
  <!-- Date picker -->
  <form (ngSubmit)="searchHistory()">
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="start" placeholder="Start date" [formControl]="startDate">
      <mat-datepicker-toggle matSuffix [for]="start">
        <mat-icon style="font-size: 1.5rem;" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="end" placeholder="End date" [formControl]="endDate">
      <mat-datepicker-toggle matSuffix [for]="end">
        <mat-icon style="font-size: 1.5rem;" matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>
    <button type="submit" class="btn waves-light primary-variant on-primary buttonStyle" [disabled]="endDate.invalid || startDate.invalid"
      mdbWavesEffect>
      Search</button>
  </form>
  <mat-card class="card" [ngClass]="{'hidden':!isSearched}">
    <div class="row">
      <div class="col" style="text-align: left">
        <span style="font-size: 1.3rem;margin-right:auto">{{selectedTime}}</span>
      </div>
      <div class="col" style="text-align: right">
        <mat-slider style="margin-left: auto" class="slider" [max]="timeSliderMax" [min]="timeSliderMin" [(ngModel)]="timeSliderValue"
          (ngModelChange)="timeSliderChanged()"></mat-slider>
      </div>
    </div>
    <div class="row">
      <div #gmap style="width:100%;height:600px"></div>
    </div>
  </mat-card>
</div>