<div class="wrapper" style="margin-bottom: 10rem">
  <h1 class="title font-xl" style="text-align: center">
    <strong style="margin-right: 20px">TOTAL SENSORS</strong>{{SENSOR_LIST.length}}
  </h1>
  <div class="buttonsGroup">
    <button mdbBtn type="button" class="waves-light secondary roundBtn font-lg" (click)="fnOpenDialog_SAS_procedure()"
      mdbWavesEffect>+</button>
    <button mdbBtn type="button" class="waves-light secondary roundBtn font-lg" (click)="fnOpenDialog_SDD_procedure()"
      mdbWavesEffect>-</button>
  </div>
  <mat-card class="card">
    <app-sensor-list-maps *ngIf="SENSOR_LIST.length != 0" [data]="SENSOR_LIST" [focusedIdx]="focusedSensorIdx" (clickMarker)="clickSensorMapMarker($event)"></app-sensor-list-maps>
  </mat-card>
  <div class="mat-elevation-z8">
    <mat-accordion>
      <div class="tableheader">
        <span class="checkboxWidth">
          <mat-checkbox (change)="$event ? masterToggle() : null; selected()"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </span>
        <span class="column-name font-md on-primary" [ngClass]="columnClasses[0]">
          {{displayedColumns[0]}}
        </span>
        <span class="column-name font-md on-primary" [ngClass]="columnClasses[1]">
          {{displayedColumns[1]}}
        </span>
        <span *ngIf="!isVisibleActivationArc" class="column-name font-md on-primary" [ngClass]="columnClasses[2]">
          {{displayedColumns[2]}}
        </span>
        <span *ngIf="!isVisibleGeoDataArc" class="column-name font-md on-primary" [ngClass]="columnClasses[3]">
          {{displayedColumns[3]}}
        </span>
        <span *ngIf="!isVisibleGeoDataArc" class="column-name font-md on-primary" [ngClass]="columnClasses[4]">
          {{displayedColumns[4]}}
        </span>
        <span *ngIf="!isVisibleGeoDataArc" class="column-name font-md on-primary" [ngClass]="columnClasses[5]">
          {{displayedColumns[5]}}
        </span>
        <span *ngIf="!isVisibleRegDateArc" class="column-name font-md on-primary" [ngClass]="columnClasses[6]">
          {{displayedColumns[6]}}
        </span>
        <span style="width:10px"></span>
      </div>

      <mat-expansion-panel *ngFor="let element of SENSOR_LIST; let idx=index;"
            [expanded]="focusedSensorIdx == idx"
            (closed)="closeSensorArcItem(idx)" (opened)="openSensorArcItem(idx)">
        <mat-expansion-panel-header *ngIf="!existSensor" style="text-align: center">
          No sensor
        </mat-expansion-panel-header>
        <mat-expansion-panel-header>
          <span class="checkboxWidth table-padding">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(element) : null; selected()"
              [checked]="selection.isSelected(element)">
            </mat-checkbox>
          </span>
          <span [ngClass]="columnClasses[0]" class="table-padding">
            {{idx+1}}
          </span>
          <span [ngClass]="columnClasses[1]" class="table-padding">
            {{element.mac}}
          </span>
          <span *ngIf="!isVisibleActivationArc" [ngClass]="columnClasses[2]" class="table-padding">
            {{getSensorActivation(element.activation)}}
          </span>
          <span *ngIf="!isVisibleGeoDataArc" [ngClass]="columnClasses[3]" class="table-padding">
            {{element.nation}}
          </span>
          <span *ngIf="!isVisibleGeoDataArc" [ngClass]="columnClasses[4]" class="table-padding">
            {{element.state}}
          </span>
          <span *ngIf="!isVisibleGeoDataArc" [ngClass]="columnClasses[5]" class="table-padding">
            {{element.city}}
          </span>
          <span *ngIf="!isVisibleRegDateArc" [ngClass]="columnClasses[6]" class="table-padding">
            {{element.regDate | date: 'medium'}}
          </span>
        </mat-expansion-panel-header>

        <div class="row">
          <div *ngIf="isVisibleActivationArc" class="contentWrapper"
              [ngClass]="{'col-3':isVisibleActivationArc}">
            <div class="row contentName">
              <strong>Activation</strong>
            </div>
            <div class="row">
              {{getSensorActivation(element.activation)}}
            </div>
          </div>
          <div *ngIf="isVisibleGeoDataArc" class="contentWrapper"
              [ngClass]="{'col-2':!isVisibleActivationArc, 'col-3':isVisibleActivationArc}">
            <div class="row contentName">
              <strong>Nation</strong>
            </div>
            <div class="row">
              {{element.nation}}
            </div>
          </div>
          <div *ngIf="isVisibleGeoDataArc" class="contentWrapper"
              [ngClass]="{'col-2':!isVisibleActivationArc, 'col-3':isVisibleActivationArc}">
            <div class="row contentName">
              <strong>State</strong>
            </div>
            <div class="row">
              {{element.state}}
            </div>
          </div>
          <div *ngIf="isVisibleGeoDataArc" class="contentWrapper"
              [ngClass]="{'col-2':!isVisibleActivationArc, 'col-3':isVisibleActivationArc}">
            <div class="row contentName">
              <strong>City</strong>
            </div>
            <div class="row">
              {{element.city}}
            </div>
          </div>
          <div *ngIf="isVisibleRegDateArc" class="contentWrapper"
              [ngClass]="{'col-4': !isVisibleGeoDataArc, 'col-3': isVisibleGeoDataArc && !isVisibleActivationArc, 'col-6': isVisibleActivationArc}">
            <div class="row contentName">
              <strong>Registration date</strong>
            </div>
            <div class="row">
              {{element.regDate | date: 'medium'}}
            </div>
          </div>
          <!---------------->
          <div class="contentWrapper"
              [ngClass]="{'col-3': !isVisibleRegDateArc || isVisibleGeoDataArc && !isVisibleActivationArc, 'col-4': isVisibleRegDateArc && !isVisibleGeoDataArc, 'col-6': isVisibleActivationArc}">
            <div class="row contentName">
              <strong>Cellular MAC address</strong>
            </div>
            <div class="row">
              {{element.cellularMac}}
            </div>
          </div>
          <div class="contentWrapper"
              [ngClass]="{'col-2': !isVisibleRegDateArc, 'col-4': isVisibleRegDateArc && !isVisibleGeoDataArc, 'col-3': isVisibleGeoDataArc}">
            <div class="row contentName">
              <strong>Mobility</strong>
            </div>
            <div class="row">
              {{element.mobility == 0 ? 'Stationary' : 'Portable'}}
            </div>
          </div>
          <div class="contentWrapper"
              [ngClass]="{'col-7': !isVisibleRegDateArc, 'col-12': isVisibleRegDateArc && !isVisibleGeoDataArc, 'col-9': isVisibleGeoDataArc}">
            <div class="row">
              <strong>Sensor status</strong>
            </div>
            <div class="row">
              <span class="sensorStatus">
                <p>Temp</p>
                <i *ngIf="element.status.temp" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.temp" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>CO</p>
                <i *ngIf="element.status.co" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.co" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>O<sub>3</sub></p>
                <i *ngIf="element.status.o3" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.o3" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>NO<sub>2</sub></p>
                <i *ngIf="element.status.no2" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.no2" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>SO<sub>2</sub></p>
                <i *ngIf="element.status.so2" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.so2" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>PM2.5</p>
                <i *ngIf="element.status.pm25" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.pm25" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>PM10</p>
                <i *ngIf="element.status.pm10" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.pm10" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
              <span class="sensorStatus">
                <p>GPS</p>
                <i *ngIf="element.status.gps" class="fas fa-check-circle active font-lg2"></i>
                <i *ngIf="!element.status.gps" class="fas fa-minus-circle inactive font-lg2"></i>
              </span>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>