.buttonsGroup {
    height: auto;
    text-align: center;
    padding-bottom: 5px;
}

.roundBtn {
    width: 45px;
    border-radius: 20px;
    padding: 0 15px;
    margin: 4px;
}

.buttonStyle1 {
    margin-right: 20px;
}

.tableheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary);
    padding-left: 24px;
    height: 40px;

}

.column-name {
    font-weight: bold;
}

.contents {
    padding: 0.5rem 0.5rem;
}

p {
    margin: 0.5rem 0.5rem;
    line-height: 1.5rem;
}


.registered {
    color: var(--registered);
}

.associated {
    color: var(--associated);
}

.operating {
    color: var(--operating);
}

.span1{
  width: 1rem;
  text-align: left;
}
.span2 {
    width: 2rem;
    text-align: left;
}
.span3 {
    width: 3rem;
    text-align: left;
}
.span4 {
  width: 4rem;
  text-align: left;
}
.span5 {
  width: 5rem;
  text-align: left;
}

.contentWrapper {
    padding-left: 3rem;
    margin-bottom: 20px;
}
.contentName {
    padding-bottom: 1rem
}

.sensorStatus {
    width: 55px;
    text-align: center;
}

/************ sensor Table ************/
.checkboxWidth{
    width: 50px;
}
.table_no {
    width: 5%;
}
.table_mac_address {
    width: 18%;
}
.table_activation {
    width: 16%;
}
.table_nation {
    width: 13%;
}
.table_state {
    width: 13%;
}
.table_city {
    width: 13%;
}
.table_registration_date {
    width: 22%;
}
.table-padding {
    padding-top: 3px;
}


/*  GO FULL WIDTH AT LESS THAN 1640 PIXELS */

@media (max-width: 1640px) {
    .table_no {
        width: 7%;
    }
    .table_mac_address {
        width: 22%
    }
    .table_activation {
        width: 20%
    }
    .table_nation {
        width: 17%
    }
    .table_state {
        width: 17%
    }
    .table_city {
        width: 17%
    }
}

/*  GO FULL WIDTH AT LESS THAN 1200 PIXELS */

@media (max-width: 1200px) {
    .checkboxWidth{
        width: 10%;
    }
    .table_no {
        width: 20%;
    }
    .table_mac_address {
        width: 40%
    }
    .table_activation {
        width: 30%
    }
}

/*  GO FULL WIDTH AT LESS THAN 1022 PIXELS */
@media only screen and (max-width: 1022px) {
    .checkboxWidth{
        width: 20%;
    }
    .table_no {
        width: 20%;
    }
    .table_mac_address {
        width: 60%
    }
}
