<div class="wrapper" style="margin-bottom: 10rem">
  <h1 class="title font-xl" style="text-align: center">
    <strong style="margin-right: 20px">TOTAL SENSORS</strong>{{SENSOR_LIST.length}}
  </h1>
  <div class="buttonsGroup">
    <button mdbBtn type="button" class="waves-light secondary roundBtn font-lg" (click)="fnOpenDialog_SAS_procedure()"
      mdbWavesEffect>+</button>
    <button mdbBtn type="button" class="waves-light secondary roundBtn font-lg" (click)="fnOpenDialog_SDD_procedure()"
      mdbWavesEffect>-</button>
  </div>
  <div class="mat-elevation-z8">
    <mat-accordion>
      <div class="tableheader">
        <span class="eachtitle checkboxWidth">
          <mat-checkbox (change)="$event ? masterToggle() : null; selected()"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </span>
        <span *ngFor="let column of displayedColumns; let idx=index" class="eachtitle column-name font-md on-primary"
          [ngStyle]="columnStyles[idx]">
          {{column}}
        </span>
        <span style="width:10px"></span>
      </div>

      <mat-expansion-panel *ngFor="let element of SENSOR_LIST; let idx=index;">
        <mat-expansion-panel-header *ngIf="!existSensor" style="text-align: center">
          No sensor
        </mat-expansion-panel-header>
        <mat-expansion-panel-header>
          <span class="eachtitle checkboxWidth">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(element) : null; selected()"
              [checked]="selection.isSelected(element)">
            </mat-checkbox>
          </span>
          <span class="eachtitle" [ngStyle]="columnStyles[0]">
            {{idx+1}}
          </span>
          <span class="eachtitle" [ngStyle]="columnStyles[1]">
            {{element.mac}}
          </span>
          <span class="eachtitle" [ngStyle]="columnStyles[2]">
            {{getSensorActivation(element.activation)}}
          </span>
          <span class="eachtitle" [ngStyle]="columnStyles[3]">
            {{element.nation}}
          </span>
          <span class="eachtitle" [ngStyle]="columnStyles[4]">
            {{element.state}}
          </span>
          <span class="eachtitle" [ngStyle]="columnStyles[5]">
            {{element.city}}
          </span>
          <span class="eachtitle" [ngStyle]="columnStyles[6]">
            {{element.regDate | date: 'medium'}}
          </span>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-lg-6 col-xl-3 contentWrapper">
            <div class="row contentName">
              <strong>Cellular MAC address</strong>
            </div>
            <div class="row">
              {{element.cellularMac}}
            </div>
          </div>
          <div class="col-lg-6 col-xl-2 contentWrapper">
            <div class="row contentName">
              <strong>Mobility</strong>
            </div>
            <div class="row">
              {{element.mobility == 0 ? 'Stationary' : 'Portable'}}
            </div>
          </div>
          <div class="col-lg-12 col-xl-7 contentWrapper">
            <div class="row contentName">
              <strong>Current status</strong>
            </div>
            <div class="row">
              <table class="tableStyle">
                <tr>
                  <th>Temp</th>
                  <th>CO</th>
                  <th>O<sub>3</sub></th>
                  <th>NO<sub>2</sub></th>
                  <th>SO<sub>2</sub></th>
                  <th>PM2.5</th>
                  <th>PM10</th>
                  <th>GPS</th>
                </tr>
                <tr>
                  <th><i class="fa fa-circle"
                      [ngClass]="{active: element.status.temp == 1, inactive: element.status.temp == 0}"
                      aria-hidden="true"></i></th>
                  <th><i class="fa fa-circle"
                      [ngClass]="{active: element.status.co == 1, inactive: element.status.co == 0}"
                      aria-hidden="true"></i></th>
                  <th><i class="fa fa-circle"
                      [ngClass]="{active: element.status.co == 1, inactive: element.status.co == 0}"
                      aria-hidden="true"></i></th>
                  <th><i class="fa fa-circle"
                      [ngClass]="{active: element.status.no2 == 1, inactive: element.status.no2 == 0}"
                      aria-hidden="true"></i></th>
                  <th><i class="fa fa-circle"
                      [ngClass]="{active: element.status.so2 == 1, inactive: element.status.so2 == 0}"
                      aria-hidden="true"></i></th>
                  <th><i class="fa fa-circle"
                      [ngClass]="{active: element.status.pm25 == 1, inactive: element.status.pm25 == 0}"
                      aria-hidden="true"></i></th>
                  <th><i class="fa fa-circle"
                      [ngClass]="{active: element.status.pm10 == 1, inactive: element.status.pm10 == 0}"
                      aria-hidden="true"></i></th>
                  <th><i class="fa fa-circle"
                      [ngClass]="{active: element.status.gps == 1, inactive: element.status.gps == 0}"
                      aria-hidden="true"></i></th>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>