.buttonsGroup {
    height: auto;
    text-align: center;
    padding-bottom: 5px;
}

.roundBtn {
    width: 45px;
    border-radius: 20px;
    padding: 0 15px;
    margin: 4px;
}

.buttonStyle1 {
    margin-right: 20px;
}

.tableheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary);
    padding-left: 24px;
    height: 40px;

}

.checkboxWidth{
    width: 3.5rem;
}

.eachtitle {
    margin-right: 3rem;

}
.eachtitle.column-name {
    font-weight: bold;
}

.contents {
    padding: 0.5rem 0.5rem;
}

p {
    margin: 0.5rem 0.5rem;
    line-height: 1.5rem;
}


.registered {
    color: var(--registered);
}

.associated {
    color: var(--associated);
}

.operating {
    color: var(--operating);
}

.span1{
  width: 1rem;
  text-align: left;
}
.span2 {
    width: 2rem;
    text-align: left;
}
.span3 {
    width: 3rem;
    text-align: left;
}
.span4 {
  width: 4rem;
  text-align: left;
}
.span5 {
  width: 5rem;
  text-align: left;
}

.contentWrapper {
    padding-left:3rem;
}
.contentName {
    padding-bottom:1rem
}

.tableStyle{
    width: 500px;
}
tr, th{
    padding: 5px;
    border: solid 0.5px #cecece;
    text-align: center;
}
